#pragma once
#include "runtime/meta/reflection.h"
#include "_generated/serializer/all_serializer.h"
{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}

namespace reflection{
    void TypeMetaRegister::metaRegister(){
        {{#sourefile_names}}
        TypeWrapperInterface_{{sourefile_name_upper_camel_case}}::Regist();
        {{/sourefile_names}}
    }
}//namespace reflection