#pragma once
#include "runtime/meta/reflect.hpp"
{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}

namespace Piccolo {
namespace Reflection {

{{#class_defines}}
class TypeWrapperInterface_{{class_name}} {
public:

    static {{class_name}}* constructorWithDefault() {
        return new {{class_name}};
    }

    static void Regist() {
        auto& builder = reflect::AddClass<{{class_name}}>("{{class_name}}");

        //constructor
        builder.AddConstructorDefault(constructorWithDefault)

        // fields
        {{#class_field_defines}}
        builder.AddMemberVar("{{class_field_name}}", &{{class_name}}::{{class_field_name}});
        {{/class_field_defines}}

        // methods
        {{#class_method_defines}}
        builder.AddMemberFunc("{{class_method_name}}", &{{class_name}}::{{class_method_name}});
        {{/class_method_defines}}
    }
};
{{/class_defines}}

}//namespace Reflection
}//namespace Piccolo
