#pragma once
#include "runtime/meta/reflection.hpp"
#include "runtime/meta/reflection_register.h"
{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}

{{#class_defines}}
namespace reflection {
namespace generate {

class TypeWrapperInterface_{{class_name_with_namespace}} {
public:

    static void Regist() {
        AddClass<{{class_name}}>("{{class_name}}")
            //constructor
            .SetConstructorDefault<{{class_name}}>()
            // fields
            {{#class_field_defines}}
            .AddMemberVar("{{class_field_name}}", &{{class_name}}::{{class_field_name}})
            {{/class_field_defines}}
            // methods
            {{#class_method_defines}}
            .AddMemberFunc("{{class_method_name}}", &{{class_name}}::{{class_method_name}})
            {{/class_method_defines}}
            ;
    }
};

}//namespace generate
}//namespace reflection
{{/class_defines}}
