#pragma once
#include "runtime/meta/reflection.hpp"
#include "runtime/meta/reflection_register.h"
{{#include_headfiles}}
#include "{{headfile_item}}"
{{/include_headfiles}}

namespace reflection {
namespace generate {

{{#class_defines}}
class TypeWrapperInterface_{{class_name_with_namespace}} {
public:

    static void Regist() {
        AddClass<{{class_qualified_name}}>("{{class_name}}")
            //constructor
            .SetConstructorDefault<{{class_qualified_name}}>()
            // fields
            {{#field_defines}}
            .AddMemberVar("{{field_name}}", &{{class_qualified_name}}::{{field_name}})
            {{/field_defines}}

            // methods
            {{#method_defines}}
            .AddMemberFunc("{{method_name}}", &{{class_qualified_name}}::{{method_name}})
            {{/method_defines}}
            ;
    }
};
{{/class_defines}}

}//namespace generate
}//namespace reflection
