#pragma once
#include "runtime/meta/serializer.hpp"
{{#include_headfiles}}
#include "{{headfile_item}}"
{{/include_headfiles}}

namespace serializer{

{{#class_defines}}
template<>
Json Serializer::write(const {{class_qualified_name}}& instance);
template<>
{{class_qualified_name}}& Serializer::read(const Json& json_context, {{class_qualified_name}}& instance);

namespace generate {

class SearializerWrapperInterface_{{class_name_with_namespace}} {
public:

    static void* constructorWithJson(const Json& json_context){
        {{class_qualified_name}}* ret_instance= new {{class_qualified_name}};
        Serializer::read(json_context, *ret_instance);
        return ret_instance;
    }
    static Json writeToJson(void* instance){
        return Serializer::write(*({{class_qualified_name}}*)instance);
    }

    static void Regist() {
        AddClass<{{class_qualified_name}}>("{{class_name}}")
            //constructor
            .SetConstructorWithJson(constructorWithJson)
            .SetWriteToJson(writeToJson);
    }
};

}//namespace generate
{{/class_defines}}

}//namespace
