#pragma once
{{#sourefiles}}
#include "{{generate_headfile_item}}"
{{/sourefiles}}

namespace serializer{

void TypeMetaRegister::metaRegister(){
    {{#sourefiles}}
    {{#class_defines}}
    generate::SearializerWrapperInterface_{{class_qualified_name}}::Regist();
    {{/class_defines}}
    {{/sourefiles}}
}

{{#sourefiles}}
{{#class_defines}}
template<>
Json Serializer::write(const {{class_name}}& instance){
    Json::object  ret_context;
    {{#base_class_defines}}
    auto&&  json_context_{{base_class_index}} = Serializer::write(*({{base_class_name}}*)&instance);
    assert(json_context_{{base_class_index}}.is_object());
    auto&& json_context_map_{{base_class_index}} = json_context_{{base_class_index}}.object_items();
    ret_context.insert(json_context_map_{{base_class_index}}.begin() , json_context_map_{{base_class_index}}.end());
    {{/base_class_defines}}

    {{#field_defines}}
    ret_context.insert_or_assign("{{field_display_name}}", Serializer::write(instance.{{field_name}})); {{/field_defines}}
    return Json(ret_context);
}
template<>
{{class_name}}& Serializer::read(const Json& json_context, {{class_name}}& instance){
    assert(json_context.is_object());
    {{#base_class_defines}}
    Serializer::read(json_context,*({{base_class_name}}*)&instance);
    {{/base_class_defines}}
    {{#field_defines}}
    if(!json_context["{{field_display_name}}"].is_null()){
        Serializer::read(json_context["{{field_display_name}}"], instance.{{field_name}});
    }
    {{/field_defines}}
    return instance;
}
{{/class_defines}}
{{/sourefiles}}

} //namespace
