#pragma once
#include "runtime/meta/serializer.hpp"
#include "runtime/meta/serializer_register.h"
{{#sourefiles}}
#include "{{generate_headfile_item}}"
{{/sourefiles}}

namespace serializer{

}//namespace serializer